.btn-warning-text{
	color: #bd362f;
}
#tableHeader{
	font-size:2em;
    text-shadow: -1px 0 #FF8200, 0 1px #FF8200;
}

#periods_list{
    background-color:#FFFFE4;
    border: 2px solid;
    border-radius:5px;
    font-size:1em;
    border-color:#FF8200;
    outline:none;
}

::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #CFCFCF; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #A1A1A1; 
}

#add{
    cursor: pointer;
}
#delete{
    cursor: pointer;
}
#edit{
    cursor: pointer;
}
#submit{
    cursor: pointer;
}
#t1{
    border-radius:5px;
    border-color:#FF8200;
}

#beginHour{
    background-color:#FFFFE4;
    border-radius:5px;
    font-size:0.866em;
}

#beginMinute{
    background-color:#FFFFE4;
    border-radius:5px;
    font-size:0.866em;
}

#begin_txt{
	padding-right:10px;
}

#endHour{
    background-color:#FFFFE4;
    border-radius:5px;
    font-size:0.866em;
}
#endMinute{
    background-color:#FFFFE4;
    border-radius:5px;
    font-size:0.866em;
}

#ampm1{
	padding-left:2px;
    background-color:#FFFFE4;
    border-radius:5px;
    font-size:0.9em;
    cursor: pointer;
}

#ampm2{
    background-color:#FFFFE4;
    border-radius:5px;
    font-size:0.9em;
    cursor: pointer;
}