#presetsSection{
    font-size:2em;
    text-shadow: -1px 0 #FF8200, 0 1px #FF8200;
}
#priceThresh{
    background-color:#FFFFE4;
    border: 2px solid;
    border-radius:5px;
    font-size:1em;
    border-color:#FF8200;
    outline:none;
	padding-right:2px;
}
#appl_table{
    font-size:1em;
}
