body {
	background:#999;
	font-family: arial;
	margin: 0;
}

ul li {
	background:orange;
	display: inline-block;
	margin: 5px;
}
a{
	color:white;
}
h2, h1 {
	color:blue;
}

a{
	color:red;
}
p{
	background: #666;
	color: purple;
	padding:10x;
}
.secondary{
	background: #555;
}
#id{
	background: #222;
}
