 </header>
 <header class="navbar-inverse" id="navbar">
 <div class="container"> 
 <ul class="nav navbar-nav">
 <li id="navHome" class="nav-link active"><a href="#" onclick="return showHome()">Home</a></li>
 <li id="navSettings" class="nav-link"><a href="#" onclick="return showSettings()">User Settings</a></li>        
 <li id="navPricing" class="nav-link"><a href="#" onclick="return showPricing()">Price History</a></li>  
          </ul>
   </div>
  </header>
