html, body {
  margin: 0;
  height: 100%;
}

line {
  stroke: red;
}

path {
  stroke: black;
  fill: none;
  stroke-width: 2px;
}

text {
  fill: #696969;
  font-size: 20px;	
}

g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

g.hidden line,
g.hidden path {
  display: none;
}

g.tick line {
  stroke: blue;
}

g.tick text {
  font-size: 14px;
  fill: green;
}

.title{
	fill: #81ae6c;
	font-size: 30px;
	stroke-width: 3px
}

svg{
	background: #F1F1F1;
}
